@tableBackgroundColor: #fff;
@tableThBorderColor: #dadada;
@tableTdBorderColor: #e8e8e8;
@tableThFontColor: #999;
@tableTdFontColor: #212121;
@tableTdStripeBackgroundColor: #f9f9f9;
@tableTdSelectedBackgroundColor: #ede2ff;
@tableTdSelectedFontColor: #6330e0;
@tableThHoverFontColor: #212121;
@tableTdHoverBackgroundColor: rgba(0, 0, 0, 0.05);
@tableTdExpandBorderColor: rgba(232, 232, 232, 0.4);
@tableTdExpandBoxShadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
@tableTdExpandPointBorderColor: #8652ff;

@tableEditCellBackgroundColor: #fff;
@tableEditCellBorderColor: #c8c8c8;
@tableEditCellBoxShadow: "0 4px 5px -5px rgba(0,0,0,0.3) inset";
@tableEditCellFontColor: #333333;
@tableEditCellFocusBorderColor: #b08bfc;
@tableEditCellFocusBoxShadow: ~"inset 0 4px 5px -5px rgba(0,0,0,0.3), 0 0 1px 1px rgba(136,74,228,.095)";
@tableEditCellFocusTransition: ~"border linear .2s, box-shadow linear .2s";
@tableEditCellDisabledBackgroundColor: #eee;
@tableEditCellDisabledFontColor: #333;

@tableDragTargetRowBackgroundColor: #d4d4d4;
@tableDragCloneRowBackgroundColor: rgba(255,255,255,.5);
@tableDragCloneRowFontColor: rgba(0,0,0,.8);
@tableDragCloneRowBorderColor: 1px solid #666;
@tableDragLineRowBackgroundColor: #8945ee;

@xtableLoadingImageUrl: "../../images/theme/classic/xtable-loading.gif";
@xtableScrollBorderColor: #e6e6e6;